*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo-div{
  background-color: rgb(94,94,220);
  text-align: center;
}
body{
  background-color: rgb(94,94,238);
}
.boards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin: 40px 20px 40px 20px;
  align-items: flex-start;
}
/* .board{
  width: 20%;
  background-color: rgb(226,232,240);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
} */
 .board {
  min-width: 250px;      
  flex: 1 1 250px;       
  max-width: 300px;      
  background-color: rgb(226, 232, 240);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.addCard{
  color:RGBA(71, 85, 105,0.7);
  cursor:pointer;
  padding: 4px 0;
}
.addCard:hover{
  background-color: rgb(205, 207, 209);
  border-radius: 4px;
}
.btn{
  background-color: rgb(90,172,68);
  padding: 5px 10px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
.card-div{
  background-color: white;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-btn,
.delete-btn {
  display: none;
  cursor: pointer;
  color: RGBA(71, 85, 105, 0.7);
}

.card-div:hover .edit-btn,
.card-div:hover .delete-btn {
  display: inline;
}
.icons {
    display: flex; 
    gap: 10px;
}
.addListBtn{
  padding: 10px;
  background-color: rgb(130,133,240);
  color: white;
  border-radius: 5px;
}
